@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: #252525;
    font-size: 20px;
    font-weight: bold;
    padding: 0 4px;
    text-decoration: none;
}

h1 {
    color: #252525;
    padding: 8px 0;
    font-size: 48px;
    font-weight: bold;
}

p {
    color: rgb(124 139 161);
    font-size: 8;
    line-height: 1.5;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-top: 12px;
}

.purple {
    color: #7342d6;
}

.green {
    color: #177245;
}

.tan {
    color: #a67b5b;
}

button {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.row {
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
}

.company-name {
    font-size: 20px;
    padding-left: 16px;
    font-weight: bold;
}

.nav__links {
    justify-content: space-between;
}

.nav__link--login {
    padding-left: 16px;
}

/* .nav__link:hover,
.logo__container:hover {
    color: #7342d6;
    text-decoration: underline;
    cursor: pointer;
    transition: 300ms;
} */

#landing {
    padding: 0 24px;
}

/* HEADER */



.landing__description {
    display: flex;
    flex-direction: column;
    width: 480px;
    max-width: 40%;
    padding: 24px; 
}

.landing__para {
    margin: 8px 0;
}

.get-started {
    margin: 8px 0;
}

.logostrip {
    width: 320px;
    align-items: left;
}

.landing__img--wrapper {
    width: 720px;
}

.landing__img {
    padding: 0 24px;
    max-width: 100%;
}

/* 

FEATURES 

*/

#features {
    padding: 0 24px;
}

.features__container {
    padding: 80px 0;
}

.features__splash {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.features__title{
    font-size: 16px;
}

.features__row {
    display: flex;
    flex-direction: column;
}

.features__description {
    padding: 8px;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 24px;
}

.service__img {
    padding: 16px;
}

.service__description {
    display: flex;
    flex-direction: column;
}

.service__para {
    padding-top: 16px;
}

/* 

QUALITY WORK SECTION 

*/

#quality {
    padding: 48px;
}


.quality__container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    width: 50%;
}

.quality__description {
    padding-bottom: 24px;
}

.quality__img--wrapper {
    max-width: 50%;
}

.quality__img {
    max-width: 600px;
}

.learn-more {
    padding-top: 16px;
    max-width: 160px;
}

/* 

STEPS 

*/

#steps {
    padding: 48px 0;
}

.steps__wrapper {
    display: flex;
    flex-direction: row;
    padding: 60px 16px;
}

.title__container {
    padding: 0 8px;
}

.step__img--container {
    width: 50%;
    margin: 0 auto;
}

.step__img {
    max-width: 600px;
    padding-top: 48px;
}

.steps__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    margin: 0 auto;
}

.step__container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 8px;
}

.step__count--wrapper {
    padding: 16px 16px 16px 0;
}

.step__count {
    font-size: 32px;
    color: rgba(124, 139, 161, 0.658)
}

.step__directions {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

/* 

VALUES 

*/

#values {
    padding: 48px;
}

.values__container {
    max-width: 480px;
}

.values__para {
    padding-bottom: 24px;
}

.principles__wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
}

.principle__title--wrapper {
    display: flex;
    flex-direction: row;
}

.principle__title {
    padding-left: 16px;
}

.values__img--wrapper {
    width: 60%;
}

.values__img {
    max-width: 720px;
}