@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

section{
    padding: 48px;
}

a {
    color: #252525;
    font-size: 20px;
    font-weight: bold;
    padding: 0 4px;
    text-decoration: none;
}

h1 {
    color: #252525;
    padding: 8px 0;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 56px;
    font-weight: bold;
}

p {
    color: rgb(113 128 150);
    font-size: 16px;
    line-height: 1.5;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-top: 12px;
}

.purple {
    color: #7342d6;
}

.green {
    color: #177245;
}

.tan {
    color: #a67b5b;
}

.white {
    color: white;
}

button {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.nav__container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title {
    color:#7342d6;
}

.logo__container {
    display: flex;
    align-items: center;
    padding-right: 200px;
}

.logo {
    width: 50px;
}

.company-name {
    font-size: 20px;
    padding-left: 16px;
    font-weight: bold;
}

.nav__link--login {
    padding-left: 16px;
}

 .nav__link:hover,
.logo__container:hover {
    color: #7342d6;
    text-decoration: underline;
    cursor: pointer;
    transition: 300ms;
}


/* 

HEADER 

*/

.landing__description {
    display: flex;
    flex-direction: column;
    width: 480px;
    max-width: 40%;
    padding: 24px; 
}
.landing__para {
    margin: 8px 0;
}

.get-started {
    margin: 8px 0;
}

.logostrip {
    width: 320px;
    align-items: left;
}

.landing__img--wrapper {
    width: 720px;
}

.landing__img {
    padding: 0 24px;
    max-width: 100%;
}

/* 

FEATURES 

*/

.features__container {
    padding: 80px 0;
}

.features__splash {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.features__row {
    display: flex;
    flex-direction: column;
}

.features__description {
    padding: 8px;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 24px;
}

.service__img {
    padding: 16px;
}

.service__description {
    display: flex;
    flex-direction: column;
}

.service__para {
    padding-top: 16px;
}

/* 

QUALITY WORK SECTION 

*/


.quality__container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    width: 50%;
}

.quality__description {
    padding-bottom: 24px;
}

.quality__img--wrapper {
    max-width: 50%;
}

.quality__img {
    max-width: 600px;
}

.learn-more {
    padding-top: 16px;
    max-width: 160px;
}

/* 

STEPS 

*/

.steps__wrapper {
    display: flex;
    flex-direction: row;
    padding: 60px 16px;
}

.title__container {
    padding: 0 8px;
}

.step__img--container {
    width: 50%;
    margin: 0 auto;
}

.step__img {
    max-width: 600px;
    padding-top: 48px;
}

.steps__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    margin: 0 auto;
}

.step__container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 8px;
}

.step__count--wrapper {
    padding: 16px 16px 16px 0;
}

.step__count {
    font-size: 32px;
    color: rgba(124, 139, 161, 0.658)
}

.step__directions {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

/* 

VALUES 

*/

.values__container {
    max-width: 480px;
}

.values__para {
    padding-bottom: 24px;
}

.principles__wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
}

.principle__title--wrapper {
    display: flex;
    flex-direction: row;
}

.principle__title {
    padding-left: 16px;
}

.values__img--wrapper {
    width: 60%;
}

.values__img {
    max-width: 720px;
}

/* 

PRICING 

*/

.pricing__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    margin: 0 auto;
}

.pricing__description  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    margin: 0 auto;
}

.pricing__para {
    max-width: 480px;
    margin-bottom: 48px;
}

.pricing__plans {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.individual__gradient {
    width: 100%;
    height: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.enterprise__gradient {
    width: 100%;
    height: 8px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.pricing__plan {
    width: calc(100% / 3);
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__sub-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: rgba(113, 128, 150, 0.452);
}

.business__plan {
    border-radius: 8px;
    padding: 4px 0;
}

.plan__cost {
    padding: 16px 0;
}

.target__demographic {
    padding: 12px 0;
    color: #252525;
    font-size: 20px;
    font-weight: bold;
}

.plan__features {
    display: flex;
    flex-direction: column;
    color: rgb(113 128 150);
    font-size: 16px;
    align-items: center;
    padding-bottom: 16px;
}

.business__features {
    color: white;
}

.business__plan {
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
    border-end-end-radius: 4px;
}

.button__wrapper {
    padding: 24px 0;
}

.personal__buy-now {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.business__buy-now {
    background-color: white;
    color: #7342d6;

}

.enterprise__buy-now {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* 

TESTIMONIALS 

*/

.testimonial__container {
    position: relative;
}

.testimonial__row {
    padding: 24px;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.testimonial__row--container {
    flex-direction: row;
}

.testimonial__img--wrapper {
    width: 40%;
}

.testimonial__img {
    max-width: 40%;
    position: relative;
}

.testimonial__details {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

/* 

LINKS

*/

#links {
    background-color: rgb(100, 21, 255);
}

.links__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    align-items: center;
}

.link__title {
    padding-bottom: 16px;
    color: white;
}

.link__style {
    color: white;
    font-size: 12px;
    justify-content: left;
}

/* 

FOOTER 

*/

#footer {
    background-color: rgb(100, 21, 255);
}

